@import "core/variables";
@import 'core/settings';

body{
  font-weight: 600;
}

.main__firstSection{
  text-align: center;
  margin-bottom: 36px;
}
.buscador__input{
  border: 0;
  border-bottom: 1px solid $darkGreen;
  width: 320px;
  font-size: 16px;
}
.buscador__boton{
  background-color: $burgundy;
  border:0;
  border-radius: 0;
  color:white;
  height: 27px;
  width: 80px;
  font-size: 15px;
  font-weight: 700;
}

.secondSection__listado{
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-left: 0;
  border-left: 20px solid white;
  border-right: 20px solid white;
}
.listado__items{
  list-style: none;
  background-color: $lightPink;
  text-align: center;
  padding-top: 30px;
  height: 380px;
  }
.listado__items--favorito{
  background-color: $lightBlue;
  border: 5px solid blue;
  box-sizing: border-box;
  height: 410px;
}
.items__title{
  margin:0;
  padding-top: 7px;
  color: $burgundy;
}
.imagen{
  width: 210px;
  height: 290px;
}